.hamburger {
    display: none;
}

.menu-item {
    flex-grow: 1;
}

.login-logout-button {
  
}

@media screen and (max-width: 960px) { 
    .hamburger {
        display: block;
    }

    .menu-item {
        display: none;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        padding: 14px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
      }
    
      .nav-links-mobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
      }

}
