.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* APP STYLES TO FIT POSTS TEXT EDITOR */
.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 5vh;
  text-align: center;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* STYLES FOR POSTS TEXT EDITOR */
.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
  /* min-height: 20rem */
}
.editor-class {
  /* background-color:lightgray; */
  background-color:whitesmoke;
  padding: 1rem;
  border: 1px solid #ccc;
  
}
.toolbar-class {
  border: 1px solid #ccc;
}

.postEditor {
  margin-left: 4rem;
  margin-right: 4rem;
  padding-bottom: 2rem  
}
/* STYLES FOR POSTS TEXT EDITOR */

.main {
  margin-top: 100px;
}

.image {
  max-width: 100%
}

.home {
  display: grid;
  grid-template-areas:
  "a"
  "b"
  "c";
  gap: 1.5rem 1.5rem;
}

.mainPost {
  grid-area: a;
}

.featuredPosts {
  grid-area: b;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "post1 post2";
  gap: 1.5rem 1.5rem;
}

.remainderPosts {
  grid-area: c;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "postx posty postz";
  gap: 1.5rem 1.5rem;
}

.postPage {
  margin: 7rem;
  text-align: left;
  
}






